@import './theme.scss';
// Material Theme colors
$primary-color: $bax-primary-color; // will be set in the theme
$accent-color: $bax-accent-color; // will be set in the theme
$warn-color: $bax-warn-color; // will be set in the theme
// $primary-color:''; // will be set in the theme
$white-color: #fff;
